body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  cursor: pointer;
}

.modelPage:focus {
  outline: none;
}

.field {
  width: 600px;
  height: 600px;
  overflow: hidden;
  border: 2px solid darkgray;
  border-radius: 5px;
}

.map {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  background-image: url("./app/icons/map.png");
  background-size: 50px;
}

/* .gridRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gridCell {
  width: 50px;
  height: 50px;
  background-color: rgb(244, 244, 244);
  border: 1px solid lightgray;
  display: flex;
  flex-shrink: 0;
} */

.paletteCell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paletteElement {
  user-select: none;
}

.device {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 43px;
  height: 43px;
  position: absolute;
  user-select: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device.selected {
  border: 2px solid #4327ff;
}

/* Маленькие точки крепления */
/* .point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.point:hover {
  background-color: rgb(35, 198, 35);
}

.top {
  top: -5px;
  left: 15px;
}

.right {
  top: 15px;
  right: -5px;
}


.bottom {
  bottom: -5px;
  left: 15px;
}

.left {
  top: 15px;
  left: -5px;
} */

/* Большие точки крепления */

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.point.selected {
  border: 2px solid #4327ff;
}

.point:hover {
  background-color: rgb(35, 198, 35);
}

.top {
  top: -15px;
  left: 10px;
}

.right {
  top: 10px;
  right: -15px;
}


.bottom {
  bottom: -15px;
  left: 10px;
}

.left {
  top: 10px;
  left: -15px;
}

#svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

path {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 4px;
  stroke: black;
}

path.selected {
  stroke-width: 6px;
  stroke: #4327ff;
}